/*
Name: Screen Time Web App
Description: Common Styles
Authors: Micaela Linda Villani & JBTellez
Tags: Ironhack Final Project - Full Stack Javascript App + Angularjs for the Front-end
*/

/* Fonts
---headings
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
--paragraphs
font-family: 'Montserrat', sans-serif; 
font-family: 'Merriweather', serif;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

/* ANIMATION */
/*----------- Stars animation */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.main-container {
  height: 90vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  overflow: hidden;
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background: #010E1D url(http://img4.hostingpics.net/pics/144421stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url('../../../assets/images/blur.png') repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 240s linear infinite;
  -ms-animation:move-twink-back 240s linear infinite;
  -o-animation:move-twink-back 240s linear infinite;
  -webkit-animation:move-twink-back 240s linear infinite;
  animation:move-twink-back 240s linear infinite;
}

/* BODY */
/* TITLE */
.title-row {
    position: relative;
    top: 27%;
    text-align: center;
}

h1.title {
    font-family: 'Montserrat', sans-serif; 
    color: white;
    z-index: 1;
    font-size: 45px !important;
}

/* ICONS */
.wrapper {
    position: relative;
    top: 34%;
    text-align: center;
    color: white;
    padding: 30px 180px 0 180px;
    background-color: #010F20;
    opacity: 0.8;
    z-index: 1;
}

.icon-col {
    cursor: pointer;
}

div.icon-col:hover {
    opacity: 1;
    -moz-box-shadow: 0 8px 30px 3px #000000;
    -webkit-box-shadow: 0 8px 30px 3px #000000;
    box-shadow: 0 8px 30px 3px #000000;
    padding-top: 20px;
}



.icons {
    height: 280px;
}

.jumbotron p {
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 21px;
    font-weight: 200;
    color: white;
}