<!-- ANIMATION CONTROLS -->
<main class="container-fluid main-container jumbotron">
  <div class="stars">
    <div class="twinkling">

      <!-- NAVBAR -->
      <app-navbar></app-navbar>

      <!-- TITLES -->
      <div class="container row title-div">
        <!-- LEFT COLUMN - WELCOME FAMILY -->
        <div class="column1 col-sm-12 col-md-8 col-lg-8">
          <h2 class="titles"> Welcome, </h2>
             <p class="title-name"> The {{ (family$ | async).name }}'s </p> 
        </div>

        <!-- RIGHT COLUMN - KIDS ICONS -->
        <div class="column2 col-sm-12 col-md-4 col-lg-4">
          <!-- FIRST ICON -->
          <a class="kid-img">
            <img src="../../../assets/images/girl-xs.png" alt="small girl icon" class="kid-icons">
            <!-- {{ kid.name }} -->
            <!-- <p> kid.name </p> -->
          </a>
          <!-- SECOND ICON -->
          <a class="kid-img">
            <img src="../../../assets/images/boy-xs.png" alt="teen boy icon" class="kid-icons">
            <!-- <p> kid.name </p> -->
          </a>
          <!-- THIRD ICON  -->
            <a (click)="createKid()" class="kid-img">
              <img src="../../../assets/images/add-btn.png" alt="add button" class="add-btn">
            <!-- <p> add new </p> -->
            </a>
        </div>
      </div>

      <!-- KID STATS -->

      <!-- CREATE A KID FORM -->
       <div class="container row kid-stat">
      

       </div>

      <!-- SET KID SETTINGS -->
       <div class="container row kid-settings">
        <form *ngIf="true" class="form"> 
        <!-- LEFT COLUMN -->
          <div class="column-left col-sm-12 col-md-3 col-lg-3">
            <h4 class="control-label">Avatar</h4>
               <!-- AVATAR -->
                <div class="form-group check-avatar">
                  <label class="checkMenu" for="icon-one" id="icon-one">
                    <input type="radio" name="avatar" value="icon_one" id="icon-one">
                  <img src="../../../assets/images/100-icon.png" alt="kid avatar" class="kid-avatar">
                  </label>
                </div>
                <!-- AVATAR -->
                <div class="form-group check-avatar">
                  <label class="checkMenu" for="icon-two">
                    <input type="radio" name="avatar" value="icon_two" id="icon-two">
                  <img src="../../../assets/images/teen-boy-icon.png" alt="kid avatar" class="kid-avatar">
                  </label>
                </div>
                <!-- AVATAR -->
                <div class="form-group check-avatar">
                  <label class="checkMenu" for="icon-three">
                    <input type="radio" name="avatar" value="icon_three" id="icon-three">
                  <img src="../../../assets/images/family-icon.png" alt="kid avatar" class="kid-avatar">
                  </label>
                </div>
                <!-- AVATAR -->
                <div class="form-group check-avatar">
                  <label class="checkMenu" for="icon-four">
                    <input type="radio" name="avatar" value="icon_four" id="icon-four">
                  <img src="../../../assets/images/100-icon.png" alt="kid avatar" class="kid-avatar">
                  </label>
                </div>
                  <!-- NAME INPUT -->
                <div class="form-group control">
                  <label class="control-label" for="Name" >Name</label>
                  <input id="Name" name="Name" type="text" placeholder="name" class="form-control input-md" required="">
                </div>
                  <!-- AGE INPUT -->
                <div class="form-group">
                  <label class="control-label" for="Age">Age</label>
                  <input id="Age" name="Age" type="number" placeholder="age" class="form-control input-md" required="">
                </div>
                 <!-- SCREEN TIME  -->
          
          </div>

        
        <!-- RIGHT COLUMN -->
        <div class="column-right col-sm-12 col-md-9 col-lg-9">
         

          <!-- BEDTIME --> 
          <div class="container bedtime-container">
            <img src="../../../assets/images/bedtime.png" alt="bedtime icon" class="bedtime bedtime-icn"> 
            <p class="control-label bedtime"> Bedtime</p>
          </div>
          <!-- FIRST ROW -->
          <div class="row first-row">
            <div class="timepick col-sm-4 col-md-4 col-lg-4">
              <p> MON </p>
              <timepicker [(ngModel)]="myTime1" [mousewheel]="true"></timepicker> 
            </div>
             
            <div class="timepick col-sm-4 col-md-4 col-lg-4">
              <p> TUE </p>
              <timepicker [(ngModel)]="myTime1" [mousewheel]="true"></timepicker> 
            </div>

            <div class="timepick col-sm-4 col-md-4 col-lg-4">
              <p> WED </p>
              <timepicker [(ngModel)]="myTime1" [mousewheel]="true"></timepicker> 
            </div>

            <div class="timepick col-sm-4 col-md-4 col-lg-4">
              <p> THU </p>
                <timepicker [(ngModel)]="myTime1" [mousewheel]="true"></timepicker> 
              </div>
            </div>
            <!-- SECOND ROW -->
            <div class="row second-row">
              <div class="timepick col-sm-4 col-md-4 col-lg-4">
                <p> FRI </p>
                <timepicker [(ngModel)]="myTime1" [mousewheel]="true"></timepicker> 
              </div>

              <div class="timepick col-sm-4 col-md-4 col-lg-4">
                <p> SAT </p>
                <timepicker [(ngModel)]="myTime1" [mousewheel]="true"></timepicker> 
              </div>
            
              <div class="timepick ol-sm-4 col-md-4 col-lg-4">
                <p> SUN </p>
                <timepicker [(ngModel)]="myTime1" [mousewheel]="true"></timepicker> 
              </div>
            </div>

          </div>


            <!-- <div class="form-group">
              <label class="col-md-4" for="submit"></label>
              <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary">Go</button>
              </div>
           </div> -->
        
      
         <!-- KID'S CARD -->
          <!-- <ul>
          <li *ngFor="let kid of (family$ | async).kids">
          
            <app-kid-card [kid]="kid"></app-kid-card>
          </li>
        </ul>  -->
      
       </form>
      </div>
    </div>
  </div>
</main>
