/*
Name: Screen Time Web App
Description: Common Styles
Authors: Micaela Linda Villani & JBTellez
Tags: Ironhack Final Project - Full Stack Javascript App + Angularjs for the Front-end
*/

/* Fonts
---headings
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
--paragraphs
font-family: 'Montserrat', sans-serif; 
font-family: 'Merriweather', serif;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  overflow: hidden;
}

@font-face {
    font-family: Godsown;
    src: url('../../../assets/fonts/Godsownjunkyardfree.otf');
}

/* ANIMATION */
/*----------- Stars animation */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.main-container {
  height: 90vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  overflow: hidden;
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  margin: 0px;
  padding: 0px;
}

.stars {
  background: #010E1D url(http://img4.hostingpics.net/pics/144421stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url('../../../assets/images/blur.png') repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 240s linear infinite;
  -ms-animation:move-twink-back 240s linear infinite;
  -o-animation:move-twink-back 240s linear infinite;
  -webkit-animation:move-twink-back 240s linear infinite;
  animation:move-twink-back 240s linear infinite;
}

/* ---------------------------------------------------------BODY */
/*  TITLES  */
.title-div {
    margin: 100px 50px 10px 50px;
    padding: 30px 30px;
    /* border: 2px solid white;  */
    height: 20%;
    width: 95vw;
}

.column1 {
    float: left;
    height: 200px;
    /* border: 2px solid white; */
}

.title-name {
    font-size: 40px;
    text-transform: capitalize;
    color: white;
    margin-top: 20px;
}

.column2 {
    float: right;
    height: 200px;
    width: auto;
    /* border: 2px solid white; */
    padding: 10px 20px;
}

.kid-img {
    float: left;
    padding: 10px;
}

.kid-icons {
    height: 70px;
}

.add-btn {
    height: 50px;
    margin-top: 10px;
}

.kid-settings-link {
    background-color: #F79432;
    position: absolute;
    top: 25%;
    left: 87%;
    height: 30px;
    padding: 0 10px;
}

.kid-set-btn {
    color: white;
    padding-top: 4px;
    text-transform: uppercase;
    font-size: 15px;
}

a.kid-set-anchor:hover {
    text-decoration: none !important;
    color: #EF4D7B;
}







