<!-- NAVBAR -->
<app-navbar></app-navbar>

<!-- JUMBOTRON -->
<main class="main-container unlock-logo jumbotron">
  <div class="stars">
    <div class="twinkling">
      <!-- LOGO/KIDS LOGIN -->
      <app-kids-login></app-kids-login>
      <!-- scrolling button -->
      <a class="family-anchor" href="#section-one">
        <img class="family" src="assets/images/family-icon.png">
        <div class="arrow-circle">
          <img class="arrow" src="assets/images/arrow.png"> 
        </div>
      </a>
    </div>
  </div>
</main>


<!-- First Section-->
<div class="jumbotron first-section" id="section-one">
  <div class="container screen-section">
   <!-- titles -->
    <div class="row section-one-row-one">
      <div class="col-md-12">
        <p class="what-section-p"> We promote family communication by ensuring 
          <br> your children a secure and free experience in the web.</p>
      </div>
    </div>
    <!-- icon descriptions -->
    <div class="row section-one-row-two">
      <!-- first icon here -->
      <div class="col-md-4"> 
        <img src="../../../assets/images/shield-small.png" class="img-responsive icons" alt="child protection shield icon">
        <h3 class="icons-titles"> Safe Web Search </h3>
        <p class="icons-p">We care about our contents so you don't have to worry about your kids using the web.</p>
      </div>
      <!-- second icon here -->
      <div class="col-md-4"> 
        <img src="../../../assets/images/computer-small.png" class="img-responsive icons" alt="kids devices protection icon">
        <h3 class="icons-titles"> computer responsability </h3>
        <p class="icons-p"> Our platform is designed to be child-friendly, making it easier for them to enjoy the experience.</p>
      </div>
      <!-- third icon here -->
      <div class="col-md-4"> 
        <img src="../../../assets/images/family-small.png" class="img-responsive icons" alt="children protection family icon">
        <h3 class="icons-titles"> Family <br> Communication </h3>
        <p class="icons-p"> We will help you interact with your kids, and make bedtime and screentime easier to negotiate. </p>
      </div>
    </div>
      
    <div class="circle-anchor-pink">
        <div class="flag-circle">
           <img class="arrow" src="assets/images/arrow.png"> 
        </div>
      </div>
  </div>
</div>

 