
<!-- NAVBAR-->
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <div class="container-fluid">
        <button type="button" class="btn btn-default" (click)="gotoHome()">Parents</button>
        <button type="button" class="btn btn-default" (click)="gotoHome()">Kid's Home</button>
      </div>
    </div>
  </nav>

<!-- JUMBOTRON -->
<div class="jumbotron unlock-logo">
  <div class="container">
    <div class="circle">
      <h1> Screen Time </h1>
    </div>
    <a href="#1section">
       <div class="circle-anchor">
        ...
      </div>
    </a>
  </div>
</div>


<!-- First Section-->
<div class="jumbotron first-section">
  <div class="container shaped" id="1section">
    Hi there!
  </div>
</div>