
<!-- NAVBAR-->
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <div class="container-fluid">
        <button type="button" class="btn btn-default" (click)="gotoHome()">Parents</button>
        <button type="button" class="btn btn-default" (click)="gotoHome()">Kid's Home</button>
      </div>
    </div>
  </nav>

<!-- JUMBOTRON -->
<div class="jumbotron unlock-logo">
  <div class="container">
    <div class="circle">
      <h1> Screen Time </h1>
    </div>
    <a href="#1section">
      <div class="circle-anchor">
        <div class="flag-circle">
          <p class="flag">...</p>
        </div>
      </div>
    </a>
  </div>
</div>


<!-- First Section-->
<div class="jumbotron first-section">
  <div class="container" id="1section">
    <div class="row icon-row">
      <!-- first icon here -->
        <div class="col-md-4"> 
          <div class="circle-icon circle1"> </div>
          <h3> First logo </h3>
          <p>Hodor! Hodor... Hodor. Hodor... Hodor, Hodor. Hodor, Hodor, Hodor, Hodor. Hodor... Hodor? Hodor... Hodor, Hodor, Hodor.
          </p>
        </div>
        <!-- second icon here -->
        <div class="col-md-4"> 
          <div class="circle-icon circle2"> </div>
          <h3> Second logo </h3>
          <p>Hodor! Hodor... Hodor. Hodor... Hodor, Hodor. Hodor, Hodor, Hodor, Hodor. Hodor... Hodor? Hodor... Hodor, Hodor, Hodor.
          </p>
        </div>
        <!-- third icon here -->
        <div class="col-md-4"> 
          <div class="circle-icon circle3"> </div>
          <h3> Third logo </h3>
          <p>Hodor! Hodor... Hodor. Hodor... Hodor, Hodor. Hodor, Hodor, Hodor, Hodor. Hodor... Hodor? Hodor... Hodor, Hodor, Hodor.
          </p>
        </div>
    </div>
      
    <div class="circle-anchor-pink">
        <div class="flag-circle">
          <p class="flag">...</p>
        </div>
      </div>
  </div>
</div>