/*
Name: Screen Time Web App
Description: Common Styles
Authors: Micaela Linda Villani & JBTellez
Tags: Ironhack Final Project - Full Stack Javascript App + Angularjs for the Front-end
*/

/* Fonts
---headings
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
--paragraphs
font-family: 'Montserrat', sans-serif; 
font-family: 'Merriweather', serif;
*/



/* ------------------------------------------- JUMBOTRON */
/*----------- Stars animation */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.main-container {
  height: 90vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background: #010B17 url(http://img4.hostingpics.net/pics/144421stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url('../../../assets/images/blur.png') repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 240s linear infinite;
  -ms-animation:move-twink-back 240s linear infinite;
  -o-animation:move-twink-back 240s linear infinite;
  -webkit-animation:move-twink-back 240s linear infinite;
  animation:move-twink-back 240s linear infinite;
}

/* ------------------------------------------- FAMILY ICON */
/* family scrolling icon */
a.family-anchor {
  color: #337ab7;
  opacity: 0.5;
  position: absolute;
  left: 47%;
  bottom: 5%;
  text-decoration: none;
  height: 100px;
  width: 100px;
  text-align: center;
}

a.family-anchor:hover {
 opacity: 1;
}

.arrow-circle {
  background-color: white;
  border-radius: 50% !important;
  position: absolute;
  left: 31px;  
  top: 65px;
  height: 40px;
  width: 40px;
}

.arrow {
  position: absolute;
  right: 12px;
  top: 10px;
}

/* ------------------------------------------- SECTION 1 */
/* 1SECTION */
 div.jumbotron.first-section {
  background-image: linear-gradient(to top, #15131B 0%, #01132A 50%, #010B17 100%);
  height: 100vh;  
  margin-top: 26px;
  padding-top: 0px;
  padding-bottom: 0px;
  width:100vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.screen-section {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  
}

div.section-one-row-one {
  margin: 80px 0 130px 0;
  height: 100px
}

.what-section-title {
  color: #0CB49B;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 300;
  text-align: center;
}


p.what-section-p {
  color: white;
  font-family: 'Montserrat', sans-serif; 
  font-size: 30px !important;
  font-weight: 500;
  margin-top: 70px; 
  text-align: center;

}

/* -------------------------------- ICONS */
.col-md-4 {
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
  margin-top: 50px;
}

.icons {
  margin: 0 auto;
}

.icons-titles {
  color: white;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}

.icons-p {
  color: white;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 300;
  text-align: center;
}


.circle-anchor-pink {
  background-image: -webkit-linear-gradient(#FEE140 0%, #ef4d7b 100%);
  background-image: -moz-linear-gradient(#FEE140 0%, #ef4d7b 100%);
  background-image: -o-linear-gradient(#FEE140 0%, #ef4d7b 100%);
  background-image: linear-gradient(#FEE140 0%, #ef4d7b 100%);
  border: none;
  border-radius:40px;
  color:#fff;
  font-size:20px;
  height:80px;
  line-height:100px;
  margin-top: 17vh;
  margin-left: 45%;
  text-align:center;
  width:80px;
  z-index: 4;
}

