<main class="main-container jumbotron">
  <div class="stars">
    <div class="twinkling">
    <!-- NAVBAR -->
    <app-navbar></app-navbar>
    <!-- LOGIN FORM -->
      <div class="wrapper">
        <div class="container">
          <h1>Screen Time Signup</h1>
          
          <form class="form">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button type="submit" id="login-button">Signup</button>
            <p class="signup"> If your family already registered. <a (click)="gotoLogin()">Login Here</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
	