<h1>
   Name: {{ adult.name }} 
</h1>
  <button type="btn btn-primary" (click)="addKid()">Add Kid</button>
  <ul>
    <li *ngFor="let kid of adult.kids">
      <p>{{ kid.name }}</p>
      <p>{{ kid.minutesPerWeek }} minutes per week</p>
      <ul>
        <li *ngFor="let bedTime of kid.bedTimes">
          {{ bedTime }}
        </li>
      </ul>
      <ul>
        <li *ngFor="let viewing of kid.viewings">
          <p>minutes spent: {{ viewing.minutesSpent }}</p>
        </li>
      </ul>
    </li>
  </ul>
