/*
Name: Screen Time Web App
Description: Common Styles
Authors: Micaela Linda Villani & JBTellez
Tags: Ironhack Final Project - Full Stack Javascript App + Angularjs for the Front-end
*/

/* Fonts
---headings
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
--paragraphs
font-family: 'Montserrat', sans-serif; 
font-family: 'Merriweather', serif;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  overflow: hidden;
}

/* ANIMATION */
/*----------- Stars animation */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.main-container {
  height: 90vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  overflow: hidden;
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background: #010E1D url(http://img4.hostingpics.net/pics/144421stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url('../../../assets/images/blur.png') repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 240s linear infinite;
  -ms-animation:move-twink-back 240s linear infinite;
  -o-animation:move-twink-back 240s linear infinite;
  -webkit-animation:move-twink-back 240s linear infinite;
  animation:move-twink-back 240s linear infinite;
}

/* --------------------------------------------BODY */
.container.old {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.greeting-row {
    color: #0CB49B;
}

.greeting-p {
    margin-top: 20px;
    margin-left: 5px;
    color:white;
    font-family: 'Montserrat', sans-serif; 
}

.left-col {
    float: left;
    width: 50%;
    margin-top: 140px;
    margin-left: 50px;
}

p.today {
    font-size: 26px !important;
}

.recap {
    padding-top: 18px;
}

.right-col {
    border: 2px dotted #0CB49B;
    padding: 5px 15px;
    width: 20%;
    color: white;
    position: absolute;
    left: 76vw;
    top: 100px;
}

.small-icon {
    width: 65px;
    padding-right: 20px;
}

