/*
Name: Screen Time Web App
Description: Common Styles
Authors: Micaela Linda Villani & JBTellez
Tags: Ironhack Final Project - Full Stack Javascript App + Angularjs for the Front-end
*/

/* Fonts
---headings
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
--paragraphs
font-family: 'Montserrat', sans-serif; 
font-family: 'Merriweather', serif;
*/
/* CONTAINER */
.well {
  background-color: black;
  border-color: black;
}

/* CAROUSEL */
carousel {
  height: 500px;
  }

.carousel-control {
  padding-top:10%;
  width:5%;
}

.modal {
   margin-top: 100px; 
   margin-right: 300px;
}

.modal-content .modal-body {
  padding: 0;
}

:host >>>.carousel-control span {
    font-size: 80px;
    color: white;
    display: block;
    width: 50px;
    height: 50px;
    background: #010E1D;
    top: 46%;
    right: 30%;
    border-radius: 50%;
    line-height: 1;
  }
  
  :host >>>.carousel-control span:before {
    display: block;
    line-height: 0.45;
  }
  :host >>> .carousel-indicators li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s;
    margin: 1px;
  }

