/*
Name: Screen Time Web App
Description: Common Styles
Authors: Micaela Linda Villani & JBTellez
Tags: Ironhack Final Project - Full Stack Javascript App + Angularjs for the Front-end
*/

/* Fonts
---headings
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
--paragraphs
font-family: 'Montserrat', sans-serif; 
font-family: 'Merriweather', serif;
*/
/* CONTAINER */
.well {
  background-color: black;
  border-color: black;
}

/* CAROUSEL */
carousel {
  height: 500px;
  }

.carousel-control {
  padding-top:10%;
  width:5%;
}

.modal {
   margin-top: 100px; 
}

.modal-content .modal-body {
  padding: 0;
}
