<div class="col-md-12">
  <div class="well">

    <carousel [interval]="false" id="myCarousel" class="carousel slide" *ngIf="movies">
      <div class="carousel-inner">

        <slide *ngFor="let slideIndex of [0,1,2,3,4]">
          <div class="item active">
            <div class="row">
              <div *ngFor="let colIndex of [0,1,2,3]" class="col-sm-3" (click)="movieClicked(slideIndex, colIndex)">
                <img [src]="getPosterPath(slideIndex, colIndex)" alt="First slide" class="img-responsive">
                <div class="carousel-caption">
                  <h3>{{getMovieTitle(slideIndex, colIndex)}}</h3>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <!--
                <slide *ngFor="let movie of movies | async" (click)="movieClicked(movie)">
                  <div class="item active">
                    <div class="row">
                       <div class="col-sm-3">
                        <img [src]="getPosterPath(movie)" alt="First slide" class="img-responsive">
                        <div class="carousel-caption">
                          <h3>{{movie.title}}</h3>
                        </div>
                      </div>

                      <div class="col-sm-3">
                        <img [src]="getPosterPath(movie)" alt="First slide" class="img-responsive">
                        <div class="carousel-caption">
                          <h3>{{movie.title}}</h3>
                        </div>
                      </div>

                       <div class="col-sm-3">
                        <img [src]="getPosterPath(movie)" alt="First slide" class="img-responsive">
                        <div class="carousel-caption">
                          <h3>{{movie.title}}</h3>
                        </div>
                       </div> 

                      <div class="col-sm-3">
                        <img [src]="getPosterPath(movie)" alt="First slide" class="img-responsive">
                        <div class="carousel-caption">
                          <h3>{{movie.title}}</h3>
                        </div>
                       </div> 

                    </div>
                  </div>
                  
                </slide>

                -->

      </div>
    </carousel>

  </div>
</div>
