<div class="col-md-12">
  <div class="well">

    <carousel [interval]="false" id="myCarousel" class="carousel slide" *ngIf="movies">
      <div class="carousel-inner">

        <slide *ngFor="let slideIndex of [0,1,2,3,4]">
          <div class="item active">
            <div class="row">
              <div *ngFor="let colIndex of [0,1,2,3]" class="col-sm-3" (click)="movieClicked(slideIndex, colIndex)">
                <img [src]="getPosterPath(slideIndex, colIndex)" alt="First slide" class="img-responsive">
                <div class="carousel-caption">
                  <!-- <h3>{{getMovieTitle(slideIndex, colIndex)}}</h3> -->
                </div>
              </div>
            </div>
          </div>
        </slide>
       
      </div>
    </carousel>

    <!-- <button type="button" class="btn btn-primary" (click)="showChildModal()">Open child modal</button> -->
<div bsModal #childModal="bs-modal" [config]="{backdrop: false}" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <!-- <div class="modal-header">
        <h4 class="modal-title pull-left">Child modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  -->
      <div class="modal-body">
         <app-movie [movie]="selectedMovie"></app-movie> 
      </div>
    </div>
  </div>
</div>

  </div>
</div>
