/*
Name: Screen Time Web App
Description: Common Styles
Authors: Micaela Linda Villani & JBTellez
Tags: Ironhack Final Project - Full Stack Javascript App + Angularjs for the Front-end
*/

/* Fonts
---headings
font-family: 'Montserrat Alternates', sans-serif;
--paragraphs
font-family: 'Montserrat', sans-serif; 
*/

html, body { 
  padding: 0;
  margin: 0; 
  font-family: 'Montserrat', sans-serif; 

}

*:before *:after {
  box-sizing: border-box;
}