html, body {
  height: 100%;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 10vw/1 "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clip-text {
  /* background-image: ; */
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: "";
}

.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
}

.clip-text:after {
  position: absolute;
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  background-color: #000;
}
