<li>
  <p>{{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} 
  </p>
  </li>
  <li>
    <a *ngIf="!clockStarted">
      <span class="startclock" (click)="startTimer()"> START SCREENTIME </span>
    </a>
  </li>
  <li>
    <a *ngIf="clockStarted">
      <span class="stopclock" (click)="stopTimer()"> STOP SCREENTIME </span>
    </a>
  </li>
  <li>
    <p> Your bedtime will be in </p>
  </li>
  <li>
    <h3 class="minutes-countdown">
      <span>{{minutesUntilBed}}</span> 
    minutes</h3>
  </li>


