  <nav class="navbar navbar-default">
  <!-- NAVBAR FOR LANDING-->
    <!-- <ul>
      <!-- LOGO -->
      <!-- <li>
        <a (click)="gotoLanding()" class="logo">
          <img src="../../../../assets/images/xs-screentime-logo.png" alt="screentime logo">
        </a>
      </li> -->
      <!-- LOGIN -->
      <!-- <li>
        <a (click)="gotoLogin()" class="login-btn">login</a>
      </li>
    </ul>  -->

<!-- NAVBAR FOR KIDS HOME -->
  <ul>
    <!-- LOGO -->
    <li>
      <a (click)="gotoLanding()" class="logo">
        <img src="../../../../assets/images/xs-screentime-logo.png" alt="screentime logo">
      </a>
    </li>
    <!-- HOME -->
    <li>
      <a (click)="gotoDashboard()" class="home">
        <img src="../../../../assets/images/house.png" alt="home logo">
      </a>
    </li>
     <!-- DATE -->
    <li>
      <p> date here </p>  
    </li>
      <!-- BEDTIME -->
    <li>
      <span>{{minutesUntilBed}}</span> 
    </li>
    <!-- SCREENTIMER -->
    <li>
      <p>
        {{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} 
      </p>    
    </li>
    <!-- START SCREENTIME BTN -->
    <li>
    <a *ngIf="!clockStarted">
      <span class="startclock" (click)="startTimer()"> START SCREENTIME </span>
    </a>
  </li>
  </ul>

</nav>