<nav class="navbar navbar-default">
    
    <!-- NAVBAR FOR LANDING-->
    <div class="landing-navbar"  *ngIf="!family?.name">
      <!-- LOGO -->
      <a (click)="gotoLanding()" class="navbar-landing">
        <img src="../../../../assets/images/xs-screentime-logo.png" alt="screentime logo" class="logo-navbar-landing">
      </a>
      <!-- LOGIN -->
      <a (click)="gotoLogin()" class="login-btn">login</a>
    </div>

<!-- NAVBAR FOR KIDS HOME -->
<div class="navbar-kids" *ngIf="family?.name">
  <ul>
   <!-- HOME -->
    <li>
      <a *ngIf="family?.name" (click)="gotoFamilyHome()" class="home-a">
        <img src="../../../../assets/images/xs-house.png" alt="home logo" class="home">
      </a>
    </li>
    <!-- BEDTIME -->
    <li *ngIf="kid?.name" class="bedtime-icon-li">
      <img src="../../../../assets/images/bedtime.png" alt="bedtime logo" class="bedtime-logo">
    </li>      
    <li *ngIf="kid?.name" class="bedtime-li">
      <span class="bedtime-time"> {{ bedtime | date : 'shortTime'}} </span>
    </li>
    <!-- LOGO -->
    <li class="logo-kidhome" >
      <a (click)="gotoLanding()">
        <img src="../../../../assets/images/xs-screentime-logo.png" alt="screentime logo">
      </a>
    </li>
     <!-- SCREENTIME -->
      <li *ngIf="kid?.name" class="screentime-li">
      <span> {{ screenTimeMinutesRemaining }} / {{ screenTimeMinutes }} </span> 
    </li>
     
   <!-- NOW WATCHING -->
    <li *ngIf="isViewing()" class="center-bar">
      <p>
        Now watching 
      </p>    
    </li>  
    <!-- SCREENTIMER -->
    <li *ngIf="isViewing()" class="center-bar-title">
      <p class="center-bar-title-p">{{getCurrentViewing()?.title}}</p>
      <!-- <p>
        {{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} 
      </p>     -->
    </li> 
  </ul>
</div>
</nav>